{% extends 'bangazon_storefront/index.html' %}

{% block content %}
<h3>Choose Payment Type</h3>
<form id='payment-list' action="{% url 'bangazon_storefront:confirm_order' %}" method="post">

    {% csrf_token %}
    {%if payment_types|length < 0 %}
        <button><a href="{% url 'bangzon_storefront:payment' ">Add a payment type</a></button>
    {%else%}
        {% for payment in payment_types %}
        <input type='radio' value='{{ payment.pk }}' name='payment_type_id'>
        {{ payment.payment_name }} [<u>#{{ payment.account_number }}</u>]
        </input>
        {% endfor %}

        <br><br>
        
        <button type='submit'>Confirm Order</button>
    {%endif%}
</form>

{% endblock %}