{% extends 'bangazon_storefront/index.html' %}

{% block content %}
{% csrf_token %}
<div class="row">
    <h5>User: {{ order.buyer.user.username }} | Order created: {{order.date_created}} </h5>
</div>
<div class="col-sm-8">
<table class="table">
    <thead>
    <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity on Order</th>
    </tr>
    </thead>
     {%for product in products %}
    <tr>
        <td>{{product.title}}</td>
        <td>{{product.price}}</td>
        <td>{{product.id__count}}</td>
    </tr>
    {% endfor %}
    <tr>
        <th>Sum:</th>
        <td>{{total}}</td>
    </tr>
</table>
</div>
  
{% endblock %}
