{% extends 'bangazon_storefront/index.html' %}

{% block content %}
{% csrf_token %}
<div class="row">
    <h5>User: {{ order.buyer.user.username }} | Order created: {{order.date_created}} </h5>
</div>
<div class="col-sm-8">
<table class="table">
    <thead>
    <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity on Order</th>
    </tr>
    </thead>
     {%for product in products %}
    <tr>
        <td><a href="{% url 'bangazon_storefront:product_detail' product.id %}">{{product.title}}</a></td>
        <td>{{product.price}}</td>
        <td><p class="float-left col-sm-10">{{product.id__count}}</p>
            <form class="form-group col-sm-1"  action="{% url 'bangazon_storefront:add_product_to_order' %}" method="post">
            {% csrf_token %}
            <button type="submit" value="{{product.id}}" name="product_id"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
             
            </form>
            <form class="form-group col-sm-1"  action="{% url 'bangazon_storefront:remove_product_from_order' %}" method="post">
            {% csrf_token %}
            <button type="submit" value="{{product.id}}" name="product_id"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
             
            </form>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <th>Sum:</th>
        <td>{{total}}</td>
    </tr>
</table>
<div class="row">
    <form class="form-group col-sm-1"  action="{% url 'bangazon_storefront:checkout' %}" method="post">
    {% csrf_token %}
    <button type="submit" value="{{order.id}}" name="order_id">CHECKOUT</button>
    </form>
</div>
</div>
  
{% endblock %}
