{% extends 'bangazon_storefront/index.html' %}
{% block content %}

<h1>Product Types</h1>
   {% csrf_token %}
    {% for product_type in product_types %}
    <div class="col-md-6">
        <h2 class='product-type'>{{ product_type.category_name }}</h2>

        <ul class='list-group'>
        <p class='twenty-recent'>20 most recently added products</p>
        {% for product in products|slice:":20" %}
            {%if product_type.id == product.product_type_id%}
                <li class='list-group-item'>{{ product.title }}</li>
            {%endif%}
        
        </ul>

        {% empty %}
        <p>No product types have been added yet.</p>
        {% endfor %}
    </div>
    {% endfor %}

    </form>
{% endblock content %}