{% extends 'bangazon_storefront/index.html' %}

{% block content %}
{% csrf_token %}
<div class="col-sm-10 col-sm-offset-1">
<h1>Product: {{ product.title }}</h1>
</div>
<div class="col-sm-10 col-sm-offset-1">
<h5>Description: {{ product.description }}</h5>
<p>price: ${{ product.price }}</p> 
<p>quantity: {{product.quantity}}</p>
</div>
<div class="col-sm-10 col-sm-offset-1">
<form class="" action="{% url 'bangazon_storefront:add_product_to_order' %}" method="post">
    {% csrf_token %}
    <button><input type="submit" value="{{product.id}}" name="product_id"/></button>
</form>
</div>
{% endblock %}